* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px 0px 50px 0px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bloco {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to top, #89f7fe 0%, #66a6ff 100%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.jogadores {
  display: flex;
  margin: 20px;
}

.jogadores div {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.jogador {
  background-color: black;
  border-radius: 50%;
}
