* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px 0px 50px 0px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bloco {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-image: linear-gradient(to top, #89f7fe 0%, #66a6ff 100%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.jogadores {
  display: flex;
  margin: 20px;
}

.jogadores div {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.jogador_1 {
  background-color: black;
  border-radius: 50%;
}

.jogador_2 {
  background-color: red;
  border-radius: 50%;
}

.cardVitoria {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background: no-repeat url(./img/background.jpg);
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.criaTrofeu {
  background: no-repeat url(./img/trofeu.png);
  background-size: contain;
  width: 150px;
  height: 150px;
}
